
:root {
    --background: #05080C;     
    --text-primary: #E8F8FF;
    --text-secondary: #C7E3EE;
    --text-effect: #75AFC4;
    --text-accent: #3A6373;

    --snow-color: rgba(180, 235, 255, 0.8);
}

nav {
    background-color: #05080C99;
}

#hero p{
    letter-spacing: 4px;
}

#desc {
    padding-top: 14px;
    letter-spacing: 40px;
}

/* Unfinished */

#unfinished {
    padding: 120px 2vw;
}

#unfinished h2 {
    border-bottom: 1px solid var(--text-accent);
    padding-bottom: 15px;
    font-size: 2.2vw;
    letter-spacing: 2px;
    font-weight: bold;
}

.unfinished-entry {
    margin-top: 35px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--text-accent);
}

.unfinished-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    color: var(--text-effect);
    letter-spacing: 2px;
    font-size: 0.8vw;
}

.unfinished-entry h3 {
    font-size: 1.98vw;
    margin-top: 25px;
}

.unfinished-subtitle {
    font-size: 1vw;
    letter-spacing: 4px;
    color: var(--text-secondary);
    margin-top: 8px;
}

.unfinished-tags {
    font-size: 0.8vw;
    color: var(--text-effect);
    letter-spacing: 2px;
    margin-top: 18px;
}

.unfinished-description {
    margin-top: 25px;
    color: var(--text-secondary);
    line-height: 1.5;
}

.unfinished-entry + .unfinished-entry {
    margin-top: 35px;
}

/* Graveyard */

#graveyard {
    padding: 120px 2vw;
}

#graveyard h2 {
    border-bottom: 1px solid var(--text-accent);
    padding-bottom: 15px;
    font-size: 2.2vw;
    letter-spacing: 2px;
    font-weight: bold;
}

.graveyard-entry {
    margin-top: 35px;
    padding-bottom: 40px;
    border-bottom: 1px solid var(--text-accent);
}

.graveyard-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
    color: var(--text-effect);
    letter-spacing: 2px;
    font-size: 0.8vw;
}

.graveyard-entry h3 {
    font-size: 1.98vw;
    margin-top: 25px;
}

.graveyard-subtitle {
    font-size: 1vw;
    letter-spacing: 4px;
    color: var(--text-secondary);
    margin-top: 8px;
}

.graveyard-tags {
    font-size: 0.8vw;
    color: var(--text-effect);
    letter-spacing: 2px;
    margin-top: 18px;
}

.graveyard-description {
    margin-top: 25px;
    color: var(--text-secondary);
    line-height: 1.5;
}

.graveyard-entry + .graveyard-entry {
    margin-top: 35px;
}

/* NOW */

#now {
    padding: 120px 2vw;
}

#now h2 {
    border-bottom: 1px solid var(--text-accent);
    padding-bottom: 15px;
    font-size: 2.2vw;
    letter-spacing: 2px;
    font-weight: bold;
}

.now-item {
    display: flex;
    align-items: baseline;
    gap: 60px;
    margin-top: 33px;
    padding-bottom: 33px;
    border-bottom: 1px solid var(--text-accent);;
}

.now-item span {
    min-width: 220px;
    color: var(--text-effect);
    letter-spacing: 2px;
    font-size: 0.8vw;
}

.now-item p {
    color: var(--text-secondary);
    line-height: 1.5;
}

